@import url(https://fonts.googleapis.com/css2?family=Outfit&display=swap);
.card{
    background-color: hsl(0, 0%, 100%);
    width: 275px;
    min-height: 400px;
    padding: 15px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.qr-code{
    width: 275px;
    border-radius: 15px;
    align-items: center;
}

.infobox{
    width: 250px;
    padding: 5px;
}

body{
    background-color: hsl(212, 45%, 89%);

    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;

    min-height: 100vh;
    display: grid;
    place-items: center;

}

h1{
    font-size: 20px;
}
p{
    padding: 5px
}

footer{
    position: absolute;
    bottom: 0;
    right: 0;
}
